.*.sw?
.yardoc
dist
/coverage
/pkg
/spec/fixtures
/spec/rp_env
/spec/acceptance/suites/default/nodesets
!/spec/hieradata/default.yaml
!/spec/fixtures/site.pp
!/spec/fixtures/test_module_rpms/
!/spec/fixtures/dist
/.rspec_system
/.vagrant
/.bundle
/Gemfile.lock
/vendor
/junit
/log
/doc
